@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Light.ttf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Thin.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Reg.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Book.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Heavy.ttf");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: mr-eaves;
    src: url("font/mreavesxl/MrEavesXLModOT-Ultra.ttf");
    font-style: normal;
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 0.1px dashed rgba(109, 109, 109, 0.494); */
    font-family: 'mr-eaves', sans-serif !important;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'mr-eaves', sans-serif !important;
    font-weight: 700;
    line-height: 1em;
}

p, .fw-normal {
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0em;
    line-height: 1.4em !important;
    line-height: 0.5em;
    font-weight: 400;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    padding: 17px 70px !important;
}

.cnt {
    max-width: 1300px;
    padding: 0px 100px;
    margin: 0px auto;
}

button {
    background: #9f8a50 !important;
    font-weight: 800 !important;
    border-radius: 3px !important;
    font-size: 15px !important;
    border: 0px solid !important;
    border: 0px solid !important;
    color: #fff !important;
    letter-spacing: 0.1em !important;
}

a {
    color: #463d25 !important;
}

.hero {
    height: 90vh;
    width: 100%;
    color: #fff;
    background: url(Images/man-smiling-working.jpg);
    background-position: 50% 5%;
    background-size: cover;
}

.hero .cnt {
    padding: 100px 100px;
}

.hero .cnt .d-flex {
    height: 70% !important;
}

.section2 .col {
    color: rgba(70, 61, 37, .75) !important;
    background: #f4eee2;
    text-align: center;
    height: 120px;
}

.section2 .col h3 {
    color: rgb(159, 138, 80) !important;
    margin: 0;
}

h3, .h3 {
    font-size: 20px;
}

.section3 {
    padding: 80px 80px 0px;
}

.section3 .row .col h3 {
    font-size: 24px;
}

.section3 .row .col p, .section5 .col-5 p {
    color: rgba(70, 61, 37, .7);
}

.theam-dark-color {
    color: #463d25 !important;
}

.section4 {
    height: 70vh !important;
    color: #fff;
    background: url(Images/family-reading-together.jpg);
    background-position: 50% 80%;
    background-size: 100%;
    margin: 100px 0px 0px 0px;
    padding: 100px;
}

.section4 .m-auto h2 {
    font-size: 38px;
    font-weight: 700;
}

.section4 .m-auto button {
    font-size: 8px;
    letter-spacing: 1.5px;
}

.section5 {
    margin: 0px 100px;
    padding: 100px 110px;
    line-height: 150% !important;
}

.section6, .section8 {
    background-color: #9f8a50;
    color: #fff;
    height: 100vh;
    padding: 8% 5%;
}

.section6 .row img {
    position: relative;
    width: 80% !important;
}

.qual-box {
    width: fit-content;
    text-align: left;
    margin-left: 60px;
}

.qual-box ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.section7 {
    padding: 40px 80px;
}

.box {
    font-size: 18px;
    line-height: 100%;
    padding: 24px;
    margin-top: 34px;
    font-weight: 400;
    background: #f0ebe5;
    border-top: 10px solid #9a8957;
}

.section8 {
    background: url("Images/woman-on-phone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px !important;
}

.section8 .cnt .card {
    background: #f0ebe5;
    border-radius: 15px;
    overflow: hidden;
    margin: 14px;
}

.section8 .cnt .card .card-body, .resource div h3 {
    padding: 24px;
}

.section8 .cnt .card .card-body h3, .res-title h3 {
    font-size: 23px;
}

.section8 .cnt .card .card-body p, .resource div p {
    color: rgba(70, 61, 37, .75);
    font-weight: 400;
    line-height: 125%;
}

.section9 {
    padding: 80px;
}

.section10 {
    background-color: #f3ece2;
    background: url("Images/tan-banner-buffalo-cutout.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 100px 0px;
}

.section10 .cnt {
    padding: 10px 80px;
}

.section10 div h3 {
    color: rgba(70, 61, 37);
    font-size: 34px;
    line-height: 100%;
}

.section10 div div p {
    font-size: 20px;
    font-weight: 700;
    line-height: 125% !important;
    color: rgba(70, 61, 37);
}

.section11 div .card img {
    border-radius: 14px
}

.section11 div .card h3 {
    color: #222222;
    font-size: 22px;
    font-weight: 700;
}

.section11 div .card p {
    color: rgba(70, 61, 37, .7);
    font-size: 18px;
    font-weight: 400;
}

.section12 {
    height: 100vh;
    width: 100%;
    background: #f2ece1;
}

.section12 .cnt {
    padding: 100px 80px 50px;
}

.section12-part, .line {
    padding: 0px 100px;
}

.section12 .cnt div h2 {
    color: #463d25;
    font-size: 34px;
}

.section12 .cnt div div div p, .section12 .cnt div div p {
    color: rgba(70, 61, 37, .7);
}

.section13, .section14 {
    background: url("Images/man-handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    height: 45vh;
}

.section14 {
    background: #463d25;
    height: 40vh;
}

.in-logo svg {
    fill: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

/* Resource */

.res-title.cnt {
    padding: 10px 80px;
    margin: 70px auto;
}

.res-title.cnt h2 {
    font-size: 48px;
    font-weight: bold;
    color: #463d25;
}

.res-title .line, .res-title .line hr {
    padding: 0px;
    color: #9f8a50;
    opacity: 1 !important;
}

.res-title .d-flex {
    margin: 50px auto;
}

.res-title h3 {
    font-weight: bold;
    color: #463d25;
}

.res-title ul li {
    font-weight: normal;
    font-size: 17px;
    color: rgba(70, 61, 37, .75);
}